{% block block_name %}

<div class="container text-center d-grid gap-3">
  <div class="row align-items-start">
    <div class="col">
          <nav class="ms-5">
            <a class="p-2 btn btn-outline-primary" href="/">Каталог</a>
            <a class="p-2 btn btn-outline-primary" href="/blog/">Блог</a>
            <a class="p-2 btn btn-outline-primary" href="/contacts/">Контакты</a>
          </nav>
    </div>
    <div class="col">
          <nav class="ms-5">
            {% if user.is_authenticated %}
              <a class="p-2 btn btn-outline-primary" href="/users/logout/">Выйти</a>
            {% else %}
              <a class="p-2 btn btn-outline-primary" href="/users/login/">Войти</a>
              <a class="p-2 btn btn-outline-primary" href="/users/register/">Регистрация</a>
            {% endif %}
          </nav>
    </div>
  </div>
</div>
{% endblock %}