{% extends 'catalog/base.html' %}
{% block content %}
<div class="col-12">
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Продукт</h4>
                    </div>
                        <div class="card_body">
                              {% csrf_token %}
                              {{ form.as_p }}
                              <button class="btn btn-primary" role="button">
                                  {% if object %}
                                    Сохранить
                                  {% else %}
                                    Создать новый продукт
                                  {% endif %}
                              </button>
                        </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Версия</h4>
                    </div>
                    <div class="card_body">
                        {{ formset.management_form }}
                        {% for form in formset.forms %}
                        {{ form.as_p }}
                        <br>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock%}